{% extends "main.html" %}

{% block htmltitle %}
    <title>Organizer - {{ config.theme.subtitle }}</title>
{% endblock %}

{% block tabs %}
    {{ super() }}

    <div id="home-hero">
        <div class="hright">
            <p class="subtitle">{{ config.theme.subtitle }}</p>
            <p class="description">{{ config.theme.description }}</p>

            <p class="download"><a href="{{ config.repo_url }}/releases/latest" data-label="Download" class="md-button">
                Free download
            </a></p>

            <p class="view"><a href="{{ config.repo_url }}" data-label="GitHub project">
                View the Project on GitHub
            </a></p>
        </div>

        <div class="image">
            <a href="{{ 'assets/img/screenshots/manual.png' | url }}">
                <img src="{{ 'assets/img/screenshots/manual.png' | url }}" class="glightbox" data-gallery="hero" alt="" />
            </a>
        </div>
    </div>
{% endblock %}

{% block content %}
    {{ page.content }}
{% endblock %}